<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true"
>
    <testsuites>
        <testsuite name="Unit">
            <directory>tests/Unit</directory>
        </testsuite>
        <testsuite name="Feature">
            <directory>tests/Feature</directory>
        </testsuite>
        <testsuite name="Infrastructure">
            <directory>tests/Infrastructure</directory>
        </testsuite>
    </testsuites>
    <source>
        <include>
            <directory>app</directory>
        </include>
    </source>
    <php>
        <env name="APP_ENV" value="testing"/>
        <env name="APP_MAINTENANCE_DRIVER" value="file"/>
        <env name="BCRYPT_ROUNDS" value="4"/>
        <env name="BROADCAST_CONNECTION" value="null"/>
        <env name="CACHE_STORE" value="array"/>
        <env name="DB_DATABASE" value="testing"/>
        <env name="MAIL_MAILER" value="array"/>
        <env name="QUEUE_CONNECTION" value="rabbitmq"/>
        <env name="SESSION_DRIVER" value="array"/>
        <env name="PULSE_ENABLED" value="false"/>
        <env name="TELESCOPE_ENABLED" value="false"/>
        <env name="NIGHTWATCH_ENABLED" value="false"/>
        
        <!-- RabbitMQ Configuration for Testing -->
        <env name="RABBITMQ_HOST" value="rabbitmq"/>
        <env name="RABBITMQ_PORT" value="5672"/>
        <env name="RABBITMQ_VHOST" value="/"/>
        <env name="RABBITMQ_LOGIN" value="admin"/>
        <env name="RABBITMQ_PASSWORD" value="password"/>
        <env name="RABBITMQ_QUEUE" value="default"/>
        <env name="RABBITMQ_EXCHANGE_NAME" value="test_exchange"/>
        <env name="RABBITMQ_EXCHANGE_TYPE" value="direct"/>
        <env name="RABBITMQ_EXCHANGE_PASSIVE" value="false"/>
        <env name="RABBITMQ_EXCHANGE_DURABLE" value="true"/>
        <env name="RABBITMQ_EXCHANGE_AUTO_DELETE" value="false"/>
        <env name="RABBITMQ_EXCHANGE_ARGUMENTS" value=""/>
    </php>
</phpunit>
